---
import { getCollection } from "astro:content";
import PostLayout from "../../layouts/PostLayout.astro";
import Badge from "../../components/Badge.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<PostLayout pageTitle={post.data.title}>
  <article class="w-full prose">
    <header class="mt-8">
      <div class="flex flex-col">
        <div class="flex">
          <a href="/" class="no-effect">
            <Badge category="home">Accueil</Badge>
          </a>
          <span class="mx-2 text-gray-600">/</span>
          <Badge category={post.data.categories}>
            {post.data.categories}
          </Badge>
        </div>
        <h1 class="font-robotoCondensed text-4xl font-bold tracking-tight">
          {post.data.title}
        </h1>
        <div class="flex items-center text-sm">
          <p class="text-gray-600 !m-0">
            Le <time>
              {
                new Date(post.data.pubDate).toLocaleDateString("fr-FR", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })
              }
            </time>
            par&nbsp;
            <div class="flex items-center">
              {
                post.data.author && (
                  <span class="mr-1">
                    {post.data.author.url && (
                      <a
                        href={post.data.author.url}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="no-effect transition-colors duration-200 text-[#396bc9] "
                        aria-label={`Profil de ${post.data.author.name}`}
                      >
                        {post.data.author.name}
                      </a>
                    )}
                  </span>
                )
              }
              <div class="size-5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  x="0px"
                  y="0px"
                  viewBox="0 0 48 48"
                >
                  <path
                    fill="#0288D1"
                    d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z"
                  ></path><path
                    fill="#FFF"
                    d="M12 19H17V36H12zM14.485 17h-.028C12.965 17 12 15.888 12 14.499 12 13.08 12.995 12 14.514 12c1.521 0 2.458 1.08 2.486 2.499C17 15.887 16.035 17 14.485 17zM36 36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698-1.501 0-2.313 1.012-2.707 1.99C24.957 25.543 25 26.511 25 27v9h-5V19h5v2.616C25.721 20.5 26.85 19 29.738 19c3.578 0 6.261 2.25 6.261 7.274L36 36 36 36z"
                  ></path>
                </svg>
              </div>
            </div>
          </p>
        </div>
        <p class="font-lora">
          {post.data.description}
        </p>
      </div>
    </header>

    <Content />
  </article>
</PostLayout>
